<!-- BEGIN NAV STEP-->
<div class="tsf-nav-step">
  <!-- BEGIN STEP INDICATOR-->
  <ul class="gsi-step-indicator triangle gsi-style-1 gsi-transition">
    <li class="current" data-target="step-0">
      <a href="javascript:;">
        <div class="number">0</div>
        <div class="desc"><label>Precios Courier default</label></div>
      </a>
    </li>
    <li data-target="step-1">
      <a href="javascript:;">
        <div class="number">1</div>
        <div class="desc"><label>Elige tus Couriers</label></div>
      </a>
    </li>
    <li data-target="step-2">
      <a href="javascript:;">
        <div class="number">2</div>
        <div class="desc"><label>Agrega tus precios</label></div>
      </a>
    </li>
    <li data-target="step-3">
      <a href="javascript:;">
        <div class="number">3</div>
        <div class="desc"><label>Elige tu Courier principal</label></div>
      </a>
    </li>
  </ul>
  <!-- END STEP INDICATOR -->
</div>
<!-- END NAV STEP-->
