<!-- BEGIN NAV STEP-->
<div class="tsf-nav-step">
  <!-- BEGIN STEP INDICATOR-->
  <ul class="gsi-step-indicator gsi-style-1 gsi-transition">
    <li class="first-li" data-target="step-1">
      <a href="javascript:;">
        <i class="s-1"></i>
        <div class="number"></div>
        <div class="desc">
          <label>Empresa</label>
        </div>
      </a>
    </li>
    <!-- <li class="" data-target="step-2">
      <a href="javascript:;">
        <i class="<%= fill_color(params[:controller]).second %>"></i>
        <div class="number"></div>
        <div class="desc">
          <label>Información de tu tienda online</label>
        </div>
      </a>
    </li> -->
  </ul>
  <!-- END STEP INDICATOR -->
</div>
<!-- END NAV STEP-->
