<div class="main-content">
  <div class="content-view">
    <div class="layout-md b-b">
      <div class="layout-column-md">
        <div class="row">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
