.shipit-color {
  background-color: #00c2de;
}

.starken-color {
  background-color: #009e47;
}

.correos-color {
  background-color: #af1529;
}

.chilexpress-color {
  background-color: #ffb81c;
}

.dhl-color {
  background-color: #37474f;
}

.muvsmart-color {
  background-color: #009DDB;
}

.chileparcels-color {
  background-color: #4d7dd4;
}

.motopartner-color {
  background-color: #b01c1f;
}

.bluexpress-color {
  background-color: #2980b9;
}

.shippify-color {
  background-color: #ef404b;
}

.shipit-border-color {
  border: 3px solid #00c2de;
}

.starken-border-color {
  border: 3px solid #009e47;
}

.correos-border-color {
  border: 3px solid #af1529;
}

.chilexpress-border-color {
  border: 3px solid #ffb81c;
}

.dhl-border-color {
  border: 3px solid #f5cb00;
}

.muvsmart-border-color {
  border: 3px solid #2E3E50;
}

.chileparcels-border-color {
  border: 3px solid #626d78;
}

.motopartner-border-color {
  border: 3px solid #a9aaae;
}

.bluexpress-border-color {
  border: 3px solid #2576ac;
}

.default-border-color {
  border: 1px solid black;
}

.courier-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.chilexpress-icon {
  background-image: url('/assets/logo-chilexpress-light.png');
}

.dhl-icon {
  background-image: url('/assets/logo-dhl-light.png');
  background-size: cover;
}

.muvsmart-icon {
  background-image: url('/assets/logo-muvsmart-light.png');
  background-size: cover;
}

.chileparcels-icon {
  background-image: url('/assets/chileparcels.png');
}

.motopartner-icon {
  background-image: url('/assets/motopartner.png');
}

.bluexpress-icon {
  background-image: url('/assets/bluexpress.png');
}

.shippify-icon {
  background-image: url('/assets/shippify.png');
}

.starken-icon {
  background-image: url('/assets/logo-starken-light.png');
}

.shipit-icon {
  background-image: url('/assets/logo-shipit-light.png');
}

.correos-icon {
  background-image: url('/assets/correos.png');
}