<p class='p1' style='text-align : center; color:white'>
  <%= image_tag 'logo_shipit.png' %>
</p>
<p class='p2'>
  <span class='s1'>
    <strong style='font-size: 14px;'>Hola <%= @resource.try(:full_name) %>!</strong>
  </span>
</p>
<p>Para cambiar tu contrase침a, debes hacer click en el siguiente link:</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-default' %></p>

<p>Si no solicitaste esto, simplemente ignora este correo.</p>
<p>Tu contrase침a no cambiar치 mientras no ingreses al link para crear una nueva</p>
