<% breadcrumb :charges_discounts %>

<div class="card">
  <div class="card-block">
    <h2 class="card-title">Reembolsos</h2>
    <hr>

    <% if @discounts.empty? %>
      <p class="alert alert-danger">No existen registros de reembolsos</p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Monto</th>
            <th>Motivo</th>
          </tr>
        </thead>
        <tbody>
          <% @discounts.each do |discount| %>
            <tr>
              <td>
                <%= l discount.date, format: '%B %Y' %>
              </td>
              <td>
                <%= discount.comment %>
              </td>
              <td>
                <%= number_to_currency discount.amount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to 'Volver', pickandpack_charges_path, class: 'btn btn-default pull-right' %>
  </div>
</div>