<div class="main-content">
  <div class="content-view">
    <div class="layout-md b-b">
      <div class="layout-column-md">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title pull-left">Credenciales Api Shipit</h3>
            <br>
            <hr>
            <p>
              Api base url: api.shipit.cl
            </p>
            <p>
              Esto debe ir en el header del request:
            </p>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <fieldset class="form-group">
                      <label for="exampleInputEmail1">X-Shipit-Email</label>
                      <input type="text" class="form-control" value="<%= current_account.email%>" readonly="readonly">
                    </fieldset>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <fieldset class="form-group">
                      <label for="exampleInputEmail1">X-Shipit-Access-Token</label>
                      <input type="text" class="form-control" value="<%= current_account.authentication_token%>" readonly="readonly">
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <fieldset class="form-group">
                      <label for="exampleInputEmail1">Accept</label>
                      <input type="text" class="form-control" value="application/vnd.shipit.v2" readonly="readonly">
                    </fieldset>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <fieldset class="form-group">
                      <label for="exampleInputEmail1">Content-Type</label>
                      <input type="text" class="form-control" value="application/json" readonly="readonly">
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
