<li class="nav-item">
  <%= link_to 'Iniciar Sesión', new_account_session_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Regístrate', new_account_registration_path, class: 'nav-link' %>
</li>
